@import './reset';
@import './gruvbox.css';
@import './fonts.css';

$mobile: 600px;
$tablet: 1000px;
$desktop: 1300px;

:root {
  --primary-color: #0d0c1d;
  --primary-light: #effffa;
  --primary-hover: #343078;
  --header: #0581a4;
  --accent: #0581a4;
  --accent2: #c35263;
  --accent3: #00894e;
  --shadow: rgb(0 0 0 / 20%);
  --light: rgb(173 110 110 / 70%);
  --lightest: rgb(255 255 255);
  --middle: rgb(150 150 150);
  --dark: rgb(70 70 70);
  --darkest: rgb(0 0 0);
  --radius: 8px;
  --transition-time: 200ms;
  --xl: 10rem;
  --l: 1.5rem;
  --m: 1rem;
  --s: 0.7rem;
  --xs: 0.5rem;
  --xxs: 0.25rem;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--xl);
  font-weight: 700;
  line-height: var(--xl);
  letter-spacing: 1rem;
  color: var(--accent2);
  margin: auto;
}

h2 {
  text-transform: uppercase;
  font-size: var(--l);
  color: var(--dark);
}

h3 {
  text-transform: uppercase;
  font-size: var(--s);
  color: var(--accent);
}

p {
  text-align: left;
  font-size: var(--m);
}

pre {
  border-radius: 0.5rem;
}

code {
  font-size: var(--s);
  line-height: 1.3rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

svg {
  transform: scale(1.1) translateY(10%);
}

.wrapper {
  max-width: $desktop;
  padding: 0 2rem;
  margin: auto;
  overflow-x: hidden;
}

.section {
  padding-top: 4rem;
  margin-bottom: 10rem;

  @media (max-width: var(--tablet)) {
    padding-top: 17rem;
  }
}

@media (max-width: $tablet) {
  :root {
    --xl: 4rem;
  }

  h1 {
    letter-spacing: var(--xs);
  }
}
